 <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-lg-8">
       
        <div class="card shadow-sm mb-4">
          <div class="card-body text-center">
            <img src="assets/tu-foto.jpg" alt="Foto del estudiante" class="img-circle" >
            <h1 class="card-title">Perfil Profesional</h1>
            
             </div>
        </div>
  
           
           <div class="card shadow-sm mb-4">
            <div class="card-body">
              <h2 class="card-title">Contacto</h2>
              <ul>
                <li><strong>Nombre:</strong> Carlos Rolando Caal Arana</li>
                <li><strong>Correo electrónico:</strong> carlosarana5843.gmail.com</li>
                <li><strong>Teléfono:</strong> +502 3014-8679</li>
                <li><strong>LinkedIn:</strong> <a href="https://linkedin.com/in/carlosarana92" target="_blank"> linkedin.com/in/carlosarana92</a></li>
                <li><strong>Profile Git:</strong> <a href="https://github.com/proyprogra3" target="_blank"> github.com/proyprogra3</a></li>
              </ul>
            </div>
          </div>
  
        
        <div class="card shadow-sm mb-4">
          <div class="card-body">
            <h2 class="card-title">Habilidades Técnicas</h2>
            <ul>
              <li><strong>Desarrollo web:</strong> HTML, CSS, JavaScript</li>
              <li><strong>Backend:</strong> Node.js, Springboot, Java</li>
              <li><strong>Bases de datos:</strong> SQL (MySQL), Postgres</li>
              <li><strong>Versionado:</strong> Git</li>
              <li><strong>Metodologías:</strong> Agile (Scrum)</li>
              <li><strong>Herramientas:</strong> VS Code, Postman, DBeaver</li>
            </ul>
          </div>
        </div>
  
     
        <div class="card shadow-sm mb-4">
          <div class="card-body">
            <h2 class="card-title">Tecnologías, Lenguajes y Herramientas</h2>
            <ul>
              <li><strong>Tecnologías:</strong> Angular, Docker, Spring Boot</li>
              <li><strong>Lenguajes:</strong> JavaScript, Java, C++, TypeScript</li>
              <li><strong>Herramientas:</strong> Slack, IntelliJ, Xcode, AppSheet</li>
            </ul>
          </div>
        </div>
  
        <div class="card shadow-sm mb-4">
          <div class="card-body">
            <h2 class="card-title">Certificaciones:</h2>
            <ul>
              <li>- CCNA v.5</li>
              <li>- Control de trabajos de Plex Telecomunicaciones</li>
              <li>- Manipulación y certificación de Fibra Optica</li>
              <li>- Riesgos electricos</li>
              <li>- Trabajo en Alturas</li>
            </ul>
          </div>
        </div>
  
        
        <div class="card shadow-sm mb-4">
          <div class="card-body">
            <h2 class="card-title">Proyectos Destacados</h2>
            <ul>
              <li>
                <strong>Sistema de Control de Citas:</strong>
                <br>
                Programa que se realizó para poder llevar un control médico, tomando en cuenta médicos, pacientes y un rubro para colocar citas. Se utiliza lenguaje Java, conexión a base de datos, e implementación de CRUD completo.
              </li>
              <li><strong>Repositorio Git:</strong> <a href="https://github.com/proyprogra3/FinalFrontend.git" target="_blank"> Proyecto Gestion Medico</a></li>
              <br>
              <br>
              <li>
                <strong>Proyecto de Optimizacion de Control de Ingresos y Salidas:</strong>
                <br>
                Proyecto que se implemento para control de ingresos y salidas, asi como tambien la autogestion de horas extras con geolocalizacion, usando la plataforma AppSheet.
              </li>
              <li><strong>Link Appsheet:</strong> <a href="https://www.appsheet.com/start/f5a54ad4-1774-4536-b725-337002f65dd9" target="_blank"> Gestion Personal</a></li>
            </ul>
          </div>
        </div>
  
        <div class="card shadow-sm mb-4">
          <div class="card-body">
            <h2 class="card-title">Cualidades y habilidades:</h2>
            <ul>
              <li>- Comunicación efectiva</li>
              <li>- Trabajo en equipo</li>
              <li>- Gestion de tiempo</li>
              <li>- Resoulución de problemas</li>
              <li>- Trabajo bajo presión</li>
            </ul>
          </div>
        </div>
  
        <div class="card shadow-sm mb-4">
          <div class="card-body">
            <h2 class="card-title">Idiomas</h2>
            <ul>
            <li><strong>Español:</strong> Nativo</li>
            <li><strong>Ingles:</strong> Intermedio</li>
          </ul>
          </div>
        </div>
  
        <div class="card shadow-sm mb-4">
          <div class="card-body">
            <h2 class="card-title">Objetivos:</h2>
            <ul>
              <li>- Mejorar mi experiencia en manejo de plataformas y lenguajes de programación</li>
              <li>- Contribuir con mi experiencia a proyectos que tengan un impacto positivo a la sociedad</li>
              <li>- Obtener certificaciones adicionales</li>
              <li>- Desarrollar habilidades de liderazgo</li>
              <li>- Avanzar en mi carrera profesional</li>
            </ul>
          </div>
        </div> 
        
        <div class="card shadow-sm mb-4">
          <div class="card-body">
            <h2 class="card-title">Aficiones e intereses</h2>
            <ul>
              <li><strong>Aficiones:</strong> Lectura, senderismo, música.</li>
              <li><strong>Intereses:</strong> Innovación tecnológica, sostenibilidad.</li>
            </ul>
          </div>
        </div>

        <div class="card shadow-sm mb-4">
          <div class="card-body">
            <h2 class="card-title">Experiencia:</h2>
            <ul>
            <p>Actualmente trabajo como Supervisor técnico en el area de telecomunicaciones, experiencian de 10 años de muchos cambios de tecnologia, adaptandose a las mismas, siempre en busca de aprender</p>
            <p>En busca de poder tomar experiencia en el area de insfraestructura, configuracion de equipos de core y aumentar conocimientos de programacion</p> 
          </ul>
          </div>
        </div> 

        <div class="card shadow-sm mb-4">
          <div class="card-body">
            <h2 class="card-title">About Me:</h2>
            <ul>
            <p>Soy un apasionado del aprender cosas nuevas. Me encanta aprender nuevas tecnologías y enfrentar desafíos. Mi objetivo es seguir creciendo profesionalmente y aportar con soluciones innovadoras a proyectos interesantes.</p>
          </ul>
          </div>
        </div> 
  
      <button class="botoncenter" (click)="navigateHome()">Inicio</button>
    </div>
  </div>
</div>
   
  
  
  