<div class="resume-container">
  <div class="resume-header">
    <img src="assets/tu-foto2.jpg" alt="Foto del estudiante" width="100">
    <h1>CURRICULUM VITAE </h1>
  </div>
  <div class="resume-content">
    <p><strong>Informacion personal:</strong> </p>
      <ul>
        <p><strong>Nombre:</strong> Carlos Rolando Caal Arana</p>
        <p><strong>Correo electrónico:</strong> carlosarana5843.gmail.com</p>
        <p><strong>Teléfono:</strong> +502 3014-8679</p>
        <p><strong>Direccion:</strong> 12 avenida 20-45 zona 12 Reformita</p>
        <p><strong>LinkedIn:</strong> <a href="https://linkedin.com/in/carlosarana92" target="_blank"> linkedin.com/in/carlosarana92</a></p>
      </ul>
<br>
      <div class="resume-content">
        <p><strong>Experiencia Laboral:</strong> </p>
          <ul>
            <p><strong>Mcdonalds Guatemala </strong> 2010 - 2013 </p>
            <p>Tecnico de mantenimiento de maquinaria completa de restaurante</p>
            <br>
            <p><strong>Claro Guatemala </strong> 2013 - 2016 </p>
            <p>Tecnico de telecomunicaciones Plex</p>
            <br>
            <p><strong>Licorera de Guatemala </strong> 2016 - 2017 </p>
            <p>Tecnico de mantenimiento de planta</p>
            <br>
            <p><strong>Tigo Guatemala </strong> 2017 - actualidad </p>
            <p>Supervisor Tecnico Plex</p>
            <br>
          </ul>


          <p><strong>Educacion:</strong> </p>
          <ul>
            <p><strong>Instituto Tecnico Vocacional Imrich Fischmann </strong> 2008 - 2010 </p>
            <p>Enseñanza media completa</p>
            <br>
            <p><strong>Universidad Mariano Galvez de Guatemala </strong> 2020 - actualidad </p>
            <p>Ingenieria en Sistemas</p>
            <br>
            
          </ul>
         
      <p class="card-text"><strong>Link a CV:</strong> <a href="assets/mi-cv.pdf" target="_blank">Descargar CV</a></p>
  </div>
  <button (click)="navigateHome()">Regresar</button>
</div>



  